@import '../../Css/color.scss';

.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header{
    height: 60px;
    width: 100%;
    background: rosybrown;
    z-index:10;
}

// .footer{
//     height: 40px;
//     width: 100%;
//     background: red;
// }

.body{
    height: calc(100% - 60px);
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 100%;
}

.left-panel{
    overflow: hidden;
}

.center-panel{
    background: $bleu-airbus;
    overflow: hidden;
}

.right-panel{
    background: orange;
    overflow: hidden;
}

:host {
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        /* border-radius: 3px; */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #00205b;
        /* border-radius: 3px; */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #005587;
    }
}