<div class="main">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="body">
    <div class="left-panel">
      <app-workorder-panel></app-workorder-panel>
    </div>
    <div class="center-panel">
      <as-split direction="vertical">
        <as-split-area size="70">
          <router-outlet></router-outlet>
        </as-split-area>
        <as-split-area size="30">
          <app-download-panel></app-download-panel>
        </as-split-area>
    </as-split>
    </div>
    <div class="right-panel">
      <app-aircraft-panel></app-aircraft-panel>
    </div>
  </div>
  <!-- <div class="footer"></div> -->
</div>