<mat-card mat-ripple (click)="OnMatCardClickEvent(WorkOrders)">

  <mat-card-content class="last-child">
  <div class="wo-card-left">
      <mat-card-title>
        {{WorkOrders.woId}}
      </mat-card-title>
      <mat-card-subtitle>
        {{WorkOrders.operation}}
      </mat-card-subtitle>
  </div>
  <div class="wo-card-right">
      <span>
        <p>{{WorkOrders.deadLine}} </p> <mat-icon>alarm_on</mat-icon>
      </span>
      <span>
       <p>{{WorkOrders.nbAc}} </p> <mat-icon>airplanemode_active</mat-icon>
      </span>
</div></mat-card-content>
</mat-card>
