<mat-card mat-ripple >
  <mat-card-content class="last-child">
    <div class="wo-card-left">
        <mat-card-title>
          {{WorkOrders.woNumber}}
        </mat-card-title>
        <mat-card-subtitle>
          <span>Deadline: </span>{{WorkOrders.deadline}}
        </mat-card-subtitle>
    </div>
    <div class="wo-card-right">
        <div>
          <p>{{WorkOrders.aircraftList.length}}</p><mat-icon>airplanemode_active</mat-icon>
        </div>
        <div>
         <p>{{WorkOrders.pn.length}}</p><mat-icon>insert_drive_file</mat-icon>
        </div>
    </div>
  </mat-card-content>
</mat-card>
