<div class="recap">

  <span class="overview-name">
    Overview
  </span>

  <div class="overview-card-container">
    <div class="overview-card-container-line">
      <mat-card class="overview-card">
        <div class="card-info">
          <div class="pastille">
            <span>2</span>
          </div>
          <div class="message">
            New Message
          </div>
        </div>
        <i class="material-icons">
          chat
        </i>
      </mat-card>
      <mat-card class="overview-card">
        <div class="card-info">
          <div class="pastille">
            <span>2</span>
          </div>
          <div class="message">
            New Message
          </div>
        </div>
        <i class="material-icons overview-icon">
          extension
        </i>
      </mat-card>
      <mat-card class="overview-card">
        <div class="card-info">
          <div class="pastille">
            <span>2</span>
          </div>
          <div class="message">
            New Message
          </div>
        </div>
        <i class="material-icons overview-icon">
          extension
        </i>
      </mat-card>
    </div>
    
    <div class="overview-card-container-line">
      <mat-card class="overview-card">
          <div class="card-info">
            <div class="pastille">
              <span>2</span>
            </div>
            <div class="message">
              New Message
            </div>
          </div>
          <i class="material-icons overview-icon">
            extension
          </i>
      </mat-card>
      <mat-card class="overview-card">
        <div class="card-info">
          <div class="pastille">
            <span>2</span>
          </div>
          <div class="message">
            New Message
          </div>
        </div>
        <i class="material-icons overview-icon">
          extension
        </i>
      </mat-card>
      <mat-card class="overview-card">
        <div class="card-info">
          <div class="pastille">
            <span>2</span>
          </div>
          <div class="message">
            New Message
          </div>
        </div>
        <i class="material-icons overview-icon">
          extension
        </i>
      </mat-card>
    </div>
  </div>
</div>
