@import '../../Css/scrollbar.css';
@import '../../Css/color.scss';


:host {

  ::ng-deep .mat-tab-body {
    ::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      /* border-radius: 3px; */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #26374C;
      /* border-radius: 3px; */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #324864;
    }
  }

  .mat-tab-group {
    height: calc(100% - 50px);
  }

  .mat-divider {
    border-color: rgba(255,255,255,0.20);
    border-width: 2px;
  }

  ::ng-deep .mat-tab-header {
    border-bottom: 2px solid rgba(255,255,255,0.20);
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: rgba(255, 255, 255, 0.2);
    height: 3px;
  }

  ::ng-deep .mat-tab-label {
    color: white;
    opacity: 1 !important;
  }

  .labelName {
    padding-right: 10px;
  }

  .errorNB {
    background-color: $rouge-error;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 5px;
  }

  .warningNB {
    background-color: $orange-warning;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 5px;
  }

  .mat-grid-list {
    background: #26374C;
  }

  .download-footer {

    ::ng-deep .mat-grid-tile.filter-button .mat-figure {
      justify-content: left;
    }

    .download-panel-search-bar {
      display: grid;
      width: calc(100% - 10px);
      margin-left: 10px;
      height: 30px;
      grid-template-columns: 30px calc(100% - 130px) 80px;
      grid-gap: 5px;
      z-index: 10;
      border: solid 2px rgba(255, 255, 255, 0.2);
      align-content: center;

      .search-prefix {
        color: white;
        place-self: center;
      }

      .search-input {
        height: 40px;
        font-size: 15px;
        width: 100%;
        border: none;
        outline: none;
        padding: 0;
        background: none;
        color: white;
      }

      ::placeholder {
        color: rgba(255, 255, 255, 0.75);
      }

      .search-suffix {
        color: rgba(255, 255, 255, 0.75);
        place-self: center;
      }

    }

    button {
      color: white;
      font-size: 16px;
      padding: 5px 10px;
      align-content: center;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      border-color: rgba(255, 255, 255, 0);
      border-style: solid;
    }

    button.selected {
      background-color: rgba(0, 0, 0, 0.3);
    }

    button:hover {
      border-color: rgba(255, 255, 255, 0.2);
    }

    button:focus {
      outline: none !important;
    }

    button:active {
      background-color: rgba(255, 255, 255, 0.2);
    }

  }

}
