<div class="wo-detail-container">
  <div class="wo-name">
    <span>
      WO {{ workOrder.woNumber }}
    </span>
  </div>
  <div class="wo-info">
    <span class="deadline">
      Deadline: {{ deadline }}
    </span>
    <span class="aircraft-number">
      {{ workOrder.aircraftList.length }}
      <i class="material-icons">
        flight
      </i>
    </span>
  </div>

  <div class="wo-stepper">

      <div class="step-container" *ngFor="let step of stepList; let i = index"
        [ngClass]="{'complete': step.state === 3, 'activate': step.state === 1,
        'inProgress': step.state === 2, 'warning': step.state === 4,
        'error': step.state === 5, 'selected': step.name === selectedStep}"
        (click)="setSelectedStep(step.name)">
        <div class="label">
          <span>{{ step.name }}</span>
        </div>
        <div class="step" [ngClass]="{'tocomplete': i !== stepList.length - 1 }">
          <span class="balise">
          </span>
        </div>
      </div>

  </div>

  <div class="wo-body" [ngSwitch]="selectedStep">

    <div class="prepare-body step-container" *ngSwitchCase="'Prepare'">
      <div class="step-header">
        Current configuration check
      </div>
      
      <div class="step-body">
        <div class="pn-container" *ngFor="let pn of workOrder.pn">
          <div class="information-container">
            <div class="information">
              <span class="title">Pre-mod PN</span>
              <span class="content">{{ pn.oldPN }}</span>
            </div>
            <div class="information">
              <span class="title">SW FD</span>
              <span class="content">{{ pn.fdSW }}</span>
            </div>
            <div class="information">
              <span class="title">HW FD</span>
              <span class="content">{{ pn.fdHW }}</span>
            </div>
            <div class="information">
              <span class="title">Post-Mod PN</span>
              <span class="content">{{ pn.newPN }}</span>
            </div>
            <div class="information">
              <span class="title">SW FIN</span>
              <span class="content">{{ pn.finSW }}</span>
            </div>
            <div class="information">
              <span class="title">HW FIN</span>
              <span class="content">{{ pn.finHW }}</span>
            </div>
          </div>

          <mat-expansion-panel class="detail-panel" hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div class="aircraft-label">
                  <i class="material-icons" *ngIf="!panelOpenState">
                    expand_more
                  </i>
                  <i class="material-icons" *ngIf="panelOpenState">
                    expand_less
                  </i>
                  <span>See all aircraft</span>
                </div>

                <div class="premod-label">
                  Pre-mod PN
                </div>
                
                <button mat-raised-button color="primary" [ngClass]="{'validate': isAllConfCheckInPn(pn)}" (click)="checkAllPrepareInPn(pn);$event.stopPropagation()">
                  Auto check all
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="aircraft-list">
              <div class="aircraft-item" *ngFor="let aircraft of workOrder.aircraftList; let iAircraft = index">
                
                <div class="aircraft-name">
                  {{ aircraft.name }}
                </div>

                <div class="aircraft-pn">
                  <span class="pn">PN</span>
                  <span>{{ aircraft.name }}</span>
                </div>

                <mat-checkbox class="aircraft-check" [(ngModel)]="pn.acListPrepare[iAircraft]"
                [disabled]="isPrepareVeriLocked(pn, aircraft)"></mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
        
      <div class="step-footer">
        <button mat-raised-button color="primary" [disabled]="!isOneConfChecked()" (click)="validatePrepare()">Next</button>
        <button mat-raised-button color="primary">Report Error</button>
      </div>
    </div>
    
    <div class="import-body step-container" *ngSwitchCase="'Import'">
      <div class="step-header">
        Import files
      </div>

      <div class="step-body">
        <div class="see-all">
          <span>See all Wo imports</span>
        </div>
        <div class="pn-container">
          <div class="pn-items" *ngFor="let pn of workOrder.pn">
            <div class="pn">
              {{ pn.newPN }}
            </div>
            <div class="validation">
              <i class="puce" [ngClass]="{'validate': isAllConfCheckInPn(pn)}"></i>
              <span *ngIf="isAllConfCheckInPn(pn)">Conf Validated</span>
              <span *ngIf="!isAllConfCheckInPn(pn)">Prepare</span>
            </div>
            <div>
              <button mat-raised-button color="primary">Choose Load</button>
            </div>
            <div>
              <button mat-raised-button color="primary" [ngClass]="{'validate': pn.importState === 3,
              'disabled': pn.importState === 0, 'inProgress': pn.importState === 2,
              'warning': pn.importState === 4, 'error': pn.importState === 5}"
              [disabled]="pn.importState === 0" (click)="startImport(pn)">
                Import
              </button>
            </div>
            <i class="material-icons">
                visibility
            </i>
          </div>
        </div>
      </div>

      <div class="step-footer">
        <button mat-raised-button color="primary" (click)="nextFromImport()">Next</button>
      </div>
    </div>
      
    <div class="upload-body step-container" *ngSwitchCase="'Upload'">
      <div class="step-header">
        Plan upload
      </div>
  
      <div class="step-body">
        <div class="upper-container">
          <div class="display-note-container">
            <mat-form-field class="display-note-field">
              <textarea matInput placeholder="Display in A/C during upload"></textarea>
            </mat-form-field>
          </div>
          <div class="note-container">
            <mat-form-field class="note-field">
              <textarea matInput placeholder="Notes"></textarea>
            </mat-form-field>
          </div>
          <div class="datepicker-container">
            <div class="datepicker-label">
              <span>Optimal date of upload</span>
            </div>
            <div class="datepicker">
              <div class="datepicker-header">
                <i class="left-arrow material-icons" (click)="previousMonth()">
                  keyboard_arrow_left
                </i>
                <span>{{ monthList[selectedMonthIndex].month }} {{ yearSelected }}</span>
                <i class="right-arrow material-icons" (click)="nextMonth()">
                  keyboard_arrow_right
                </i>
              </div>
              <div class="datepicker-body">
                <div class="day-list">
                  <span>Lu</span>
                  <span>Ma</span>
                  <span>Me</span>
                  <span>Je</span>
                  <span>Ve</span>
                  <span>Sa</span>
                  <span>Di</span>
                </div>
                <div class="number-list">
                  <div class="number-container" *ngFor="let dayselected of monthList[selectedMonthIndex].daySelected">
                    <div class="number" [ngClass]="{'selected': dayselected.selected, 'current': isCurrentDate(dayselected.day),
                      'old': isDayOld(dayselected.day), 'late': isDayLate(dayselected.day)}"
                      (mousedown)="mouseDownHandler(dayselected)" (mouseup)="mouseUpHandler(dayselected)" (mouseenter)="mouseEnterHandler(dayselected)">
                      <span>{{ dayselected.day }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="planning-action">
            <div class="action-label">
              A/C Planning
            </div>
            <div class="desc ns">
              <span>NS</span>
              <div class="color"></div>
            </div>
            <div class="desc tat">
                <span>TAT</span>
                <div class="color"></div>
            </div>
            <div class="desc check">
                <span>CHECK</span>
                <div class="color"></div>
            </div>
            <button mat-raised-button color="primary" class="button-planning" (click)="findPlaceToUpload()">Set All</button>
            <button mat-raised-button color="primary" class="button-planning">Upload all</button>
          </div>
        </div>
        <div class="planning-container">
            <div class="planning">
              <div class="panning-aircraft-container" *ngFor="let areaLists of planningAreaListsInSelectedArea">
                <div class="aircraft-label">
                  <span>
                    {{ areaLists.acName }}
                  </span>
                </div>
                <div #container class="area-container">
                  <div class="area" *ngFor="let area of areaLists.areaList" [ngStyle]="{'width': setWidthArea( area, container)}"
                    [ngClass]="{'tat': isAreaTat(area), 'check': isAreaCheck(area), 'flight': isAreaFlight(area), 'night-stop': isAreaNightStop(area)}">
                    <div class="line-center">

                    </div>
                    <div class="aptArr" *ngIf="isAreaFlight(area)">
                      {{ area.aptArr }}
                    </div>
                    <div class="start" *ngIf="!isAreaFlight(area)">
                      {{ timeToHour(area.start) }}
                    </div>
                    <div class="end" *ngIf="!isAreaFlight(area)">
                      {{ timeToHour(area.end) }}
                    </div>
                  </div>
                  <div *ngIf="isMaintenanceShown(areaLists.acName)" class="maintenance"
                    [ngStyle]="{'width': setMaintenanceWidth( areaLists.acName, container), 'left': setMaintenanceLeft( areaLists.acName, container)}">

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="step-footer">
        <button mat-raised-button color="primary" (click)="nextFromUpload()" [disabled]="isUploadComplete()">Next</button>
      </div>
    </div>
      
    <div class="verify-body step-container" *ngSwitchCase="'Verify'">
      <div class="step-header">
        New configuration check
      </div>
  
      <div class="step-body">
        <div class="pn-container" *ngFor="let pn of workOrder.pn">
          <div class="information-container">
            <div class="information">
              <span class="title">Pre-mod PN</span>
              <span class="content">{{ pn.oldPN }}</span>
            </div>
            <div class="information">
              <span class="title">SW FD</span>
              <span class="content">{{ pn.fdSW }}</span>
            </div>
            <div class="information">
              <span class="title">HW FD</span>
              <span class="content">{{ pn.fdHW }}</span>
            </div>
            <div class="information">
              <span class="title">Post-Mod PN</span>
              <span class="content">{{ pn.newPN }}</span>
            </div>
            <div class="information">
              <span class="title">SW FIN</span>
              <span class="content">{{ pn.finSW }}</span>
            </div>
            <div class="information">
              <span class="title">HW FIN</span>
              <span class="content">{{ pn.finHW }}</span>
            </div>
          </div>

          <mat-expansion-panel class="detail-panel" hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div class="aircraft-label">
                  <i class="material-icons" *ngIf="!panelOpenState">
                    expand_more
                  </i>
                  <i class="material-icons" *ngIf="panelOpenState">
                    expand_less
                  </i>
                  <span>See all aircraft</span>
                </div>

                <div class="premod-label">
                  Pre-mod PN
                </div>
                
                <button mat-raised-button color="primary" (click)="checkAllVerifyInPn(pn);$event.stopPropagation()" [ngClass]="{'validate': isAllConfCheckInPnVerify(pn)}">
                  Auto check all
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="aircraft-list">
              <div class="aircraft-item" *ngFor="let aircraft of workOrder.aircraftList; let iAircraft = index">
                
                <div class="aircraft-name">
                  {{ aircraft.name }}
                </div>

                <div class="aircraft-pn">
                  <span class="pn">PN</span>
                  <span>{{ aircraft.name }}</span>
                </div>

                <mat-checkbox class="aircraft-check" [(ngModel)]="pn.acListVerify[iAircraft]"
                [disabled]="isVerifyVeriLocked(pn, aircraft)"></mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <div class="step-footer">
        <button mat-raised-button color="primary" (click)="validateVerify()" [disabled]="!isOneConfCheckedVerify()">
          Next
        </button>
      </div>
    </div>
      
    <div class="validate-body step-container" *ngSwitchCase="'Validate'">
      <div class="step-header">
        Validate {{ workOrder.name }}
      </div>
  
      <div class="step-body">
          <mat-form-field class="note-field">
            <textarea matInput placeholder="Notes & Details"></textarea>
          </mat-form-field>
      </div>

      <div class="step-footer">
        <button mat-raised-button color="primary" (click)="validateValidate()">Validate</button>
        <span *ngIf="!isAllConfCheckVerify()">All steps aren’t over yet, validate unfinished WO?</span>
      </div>
    </div>

  </div>
</div>