@import '../../Css/color.scss';
@import '../../Css/scrollbar.css';
@import '~@angular/material/theming';

:host {
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        /* border-radius: 3px; */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #00205b;
        /* border-radius: 3px; */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #005587;
    }
}

.wo-detail-container {
    display: grid;
    grid-template-areas:
        "name info"
        "stepper stepper"
        "body body";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 90px 1fr;
    background-color: #f1f1f1;
    min-height: calc(100% - 20px);
    box-shadow:
        inset 1px -3px 10px -2px rgba(0, 0, 0, 0.2), inset 1px -2px 2px 0px rgba(0, 0, 0, 0.14), inset 0px -1px 5px 0px rgba(0, 0, 0, 0.12),
        inset -1px 3px 10px 2px rgba(0, 0, 0, 0.2), inset -1px 2px 2px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 30px;
    font-size: 0.9em;

    .wo-name {
        grid-area: name;
        font-size: 1.8em;
        color: $bleu-airbus;
        display: flex;
        align-items: center;

        span{
            position: relative;

            &:after{
                content: '';
                position: absolute;
                height: 2px;
                width: 46px;
                bottom: -10px;
                left: 0;
                background-color: $bleu-airbus;
            }
        }
    }

    .wo-info {
        grid-area: info;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        font-size: 1.1rem;

        .aircraft-number {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $bleu-airbus;
            font-size: 24px;
            font-weight: lighter;
        }
    }

    .wo-stepper {
        grid-area: stepper;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .step-container {
            display: grid;
            grid-template-rows: 40px 50px;
            cursor: pointer;
            
            .label{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #AEAEAE;
                font-size: 1.1rem;
            }

            .step {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &.tocomplete:after {
                    content: '';
                    width: calc(100% - 24px);
                    height: 2px;
                    background-color: #AEAEAE;
                    position: absolute;
                    bottom: calc(50% - 1px);
                    left: calc(50% + 12px);
                }

                .balise {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: solid 2px #AEAEAE;
                    background-color: #FFF;
                    @include mat-elevation(3);
                    z-index: 10px;
                }
            }

            &.complete {
                .label{
                    color: $vert-online;
                }

                .step {

                    &.tocomplete:after {
                        background-color: $vert-online;
                    }

                    .balise {
                        height: 6px;
                        width: 6px;
                        border: solid 9px $vert-online;
                    }
                }
            }

            
            &.activate {
                .label{
                    color: #111;
                }

                .step {

                    .balise {
                        border-color: $bleu-airbus;
                    }
                }
            }

            
            &.inProgress {
                .label{
                    color: $bleu-progress;
                }

                .step {

                    &.tocomplete:after {
                        background-color: $bleu-progress;
                    }

                    .balise {
                        height: 6px;
                        width: 6px;
                        border: solid 9px $bleu-progress;
                    }
                }
            }

            &.warning {
                .label{
                    color: $orange-warning;
                }

                .step {

                    &.tocomplete:after {
                        background-color: $orange-warning;
                    }

                    .balise {
                        height: 6px;
                        width: 6px;
                        border: solid 9px $orange-warning;
                    }
                }
            }

            &.error {
                .label{
                    color: $rouge-error;
                }

                .step {

                    &.tocomplete:after {
                        background-color: $rouge-error;
                    }

                    .balise {
                        height: 6px;
                        width: 6px;
                        border: solid 9px $rouge-error;
                    }
                }
            }

            &.selected {

                .label{
                    color: $bleu-airbus;
                }

                .step {

                    .balise {
                        height: 6px;
                        width: 6px;
                        border: solid 9px $bleu-airbus;
                        position: relative;
                        
                        &:after {
                            content: '';
                            position: absolute;
                            top: 18px;
                            left: calc(50% - 10px); 
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 10px 10px 10px;
                            border-color: transparent transparent #FFF transparent;
                            
                        }
                    }
                }
            }
        }

    }

    .wo-body {
        grid-area: body;
        @include mat-elevation(3);
        padding: 20px 30px 10px 30px;
        background-color: #FFF;
        border-radius: 5px;


        .step-container{
            // display: grid;
            // grid-template-rows: 20px 1fr 50px;
            // grid-row-gap: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;

        }

        .step-header {
            color: $bleu-airbus;
            font-size: 1.1rem;
            font-weight: lighter;
        }

        .step-body {
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .step-footer {
            display: flex;
            flex-direction: row-reverse;

            &>button {
                margin-left: 10px;
            }
        }

        .prepare-body, .verify-body {

            .pn-container {
                border-left: solid 2px rgba( $bleu-airbus, 0.3 );
                margin-left: 30px;
                padding-left: 10px;
            }

            .information-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .information {
                    display: grid;
                    grid-template-columns: 2fr 3fr;
                    grid-column-gap: 5px;

                    .title {
                        color: $bleu-airbus;
                        font-weight: 500;
                    }
                }
            }

            .step-body>* {
                margin-top: 20px;
            }

            .step-body>*:first-child {
                margin-top: 0;
            }

            ::ng-deep .mat-raised-button.mat-primary.validate {
                background-color: $vert-online !important;
            }

            .detail-panel {
                margin-top: 10px;
                border: solid 1px #f1f1f1;

                .aircraft-label {
                    color: black;
                    display: flex;
                    align-items: center;
                    
                    i {
                        color: $bleu-airbus;
                    }
                }

                .premod-label {
                    color: $bleu-airbus;
                    font-weight: 500;
                }
                
                .aircraft-list {
                    border-top: solid 1px #CCC;
                    padding-top: 15px;
                }

                .aircraft-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    align-items: center;

                    .aircraft-name {
                        margin-left: 24px;
                    }

                    .aircraft-pn {
                        display: flex;
                        align-items: center;
                        justify-self: center;

                        .pn {
                            color: $bleu-airbus;
                            font-weight: 500;
                            margin-right: 5px;
                        }
                    }

                    .aircraft-check {
                        justify-self: end;
                        margin-right: 66px;
                    }
                }
            }

            .mat-expansion-panel-header-description {
                justify-content: space-between;
                align-items: center;
            }

        }

        .import-body {
            .see-all {
                align-items: center;
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-end;

                span {
                    text-decoration: underline;
                }
            }

            .pn-container {
                display: flex;
                flex-direction: column;

                &>*:first-child {
                    margin-top: 0px
                }

                &>* {
                    margin-top: 10px
                }
            }

            .pn-items {
                display: grid;
                grid-template-columns: 1fr 1fr 120px 80px 40px;
                align-items: center;
                border: solid 1px #CCC;
                border-radius: 10px;
                padding: 10px;

                .validation {
                    display: flex;
                    align-items: center;

                    .puce {
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        margin-right:10px;
                        background-color: $bleu-progress;

                        &.validate{
                            background-color: $vert-online;
                        }
                    }
                }

                ::ng-deep .mat-raised-button.mat-primary {
                    &.validate {
                        background-color: $vert-online !important;
                    }

                    &.inProgress {
                        background-color: $vert-online !important;
                    }

                    &.disabled {
                        background-color: #ccc !important;
                    }
                    
                    &.warning {
                        background-color: $orange-warning !important;
                    }
                    
                    &.error {
                        background-color: $rouge-error !important;
                    }
                }

                .material-icons {
                    color: $bleu-airbus;
                }

            }
        }

        .upload-body {
            .step-body {
                display: flex;
                flex-direction: column;

                .upper-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 2fr 1fr;
                    grid-template-areas:
                        "display note date"
                        "planning planning date";
                    //height: 200px;
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    

                    .display-note-container {
                        grid-area: display;
                        width: 100%;
                        height: 100%;

                        .display-note-field {
                            width: 100%;
                            height: 100%;

                            textarea {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .note-container {
                        grid-area: note;
                        width: 100%;
                        height: 100%;

                        .note-field {
                            width: 100%;
                            height: 100%;

                            textarea {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .datepicker-container {
                        grid-area: date;
                        width: 100%;
                        top: -30px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .datepicker-label{
                            color: $bleu-airbus;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 5px;
                        }

                        .datepicker{
                            display: grid;
                            grid-template-rows: 30px 1fr;
                            background-color: #f1f1f1;
                            max-width: 400px;

                            &-header {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0px 5px;
                                color: white;
                                background-color: $bleu-airbus;

                                .left-arrow, .right-arrow {
                                    cursor: pointer;
                                    -webkit-touch-callout: none; /* iOS Safari */
                                    -webkit-user-select: none; /* Safari */
                                    -khtml-user-select: none; /* Konqueror HTML */
                                    -moz-user-select: none; /* Firefox */
                                    -ms-user-select: none; /* Internet Explorer/Edge */
                                    user-select: none; /* Non-prefixed version, currently
                                                                supported by Chrome and Opera */
                                }
                            }

                            &-body {
                                padding: 4px;

                                .day-list {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                    color: $bleu-airbus;
                                    align-items: center;
                                    justify-items: center;
                                    padding-bottom: 2px;
                                }

                                .number-list {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                    color: $bleu-airbus;
                                    align-items: center;
                                    justify-items: center;

                                    .number-container {
                                        
                                        .number {
                                            color: $bleu-airbus;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 30px;
                                            width: 30px;
                                            cursor: pointer;
                                            margin: 2px;-webkit-touch-callout: none; /* iOS Safari */
                                            -webkit-user-select: none; /* Safari */
                                            -khtml-user-select: none; /* Konqueror HTML */
                                            -moz-user-select: none; /* Firefox */
                                            -ms-user-select: none; /* Internet Explorer/Edge */
                                            user-select: none; /* Non-prefixed version, currently
                                                                        supported by Chrome and Opera */
                                        

                                            &.selected {
                                                color: white;
                                                background-color: $bleu-airbus;
                                            }

                                            &.old {
                                                color: #777;
                                            }

                                            &.current {
                                                background-color: $bleu-progress;
                                            }

                                            &.late {
                                                color: $rouge-error;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .planning-action {
                        grid-area: planning;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: 1fr 60px 60px 60px 1fr 1fr;
                        grid-column-gap: 10px;
                        justify-items: center;
                        align-items: center;

                        .action-label {
                            font-size: 1.1rem;
                            color: $bleu-airbus;
                        }

                        .button-planning {

                        }

                        .desc {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 0.9em;
                            
                            .color {
                                margin-left: 5px;
                                width: 20px;
                                height: 10px;
                            }

                            &.ns {
                                .color {
                                    background-color: #AEAEAE;
                                }
                            }

                            &.tat {
                                .color {
                                    background-color: #CCC8FF;
                                }
                            }

                            &.check {
                                .color {
                                    background-color: #FFF9C8;
                                }
                            }
                        }

                    }
                }

                .planning-container {
                    .planning {
                        display: flex;
                        width: 100%;
                        flex-direction: column;

                        &>* {
                            margin-top: 20px;
                        }
            
                        &>*:first-child {
                            margin-top: 0;
                        }

                        .panning-aircraft-container {
                            display: grid;
                            width: 100%;
                            grid-template-columns: 70px 1fr;
                            height: 40px;

                            .aircraft-label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $bleu-airbus;
                            }

                            .area-container {
                                display: flex;
                                flex-direction: row;
                                
                                .area {
                                    position: relative;

                                    &.check {
                                        background-color: #FFF9C8;
                                    }

                                    &.tat {
                                        background-color: #CCC8FF;
                                    }

                                    &.flight {
                                        background-color: white;
                                        
                                        .line-center {
                                            border-top: dashed 2px #AEAEAE;
                                        }
                                    }

                                    &.night-stop {
                                        background-color: #AEAEAE;
                                    }

                                    .line-center {
                                        position: absolute;
                                        height: 0;
                                        bottom: calc(50% - 1px);
                                        width: 100%;
                                        border-top: solid 2px $bleu-airbus;
                                    }

                                    .aptArr {
                                        z-index: 10;
                                        position: absolute;
                                        color: $bleu-airbus;
                                        bottom: 50%;
                                        right: -4ch;
                                    }

                                    .start {
                                        z-index: 10;
                                        position: absolute;
                                        font-size: 0.7em;
                                        color: #444;
                                        bottom: calc(50% - 13px);
                                        left: 2px;
                                    }

                                    .end {
                                        z-index: 10;
                                        position: absolute;
                                        font-size: 0.7em;
                                        color: #444;
                                        bottom: 50%;
                                        right: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .verify-body {

        }

        .validate-body{
            .step-body {
                width: 100%;
                display: flex;
                justify-content: center;


                .note-field {
                    width: 100%;
                }
            }

            .step-footer {
                align-items: center;
            }
        }
    }
}