@import '../../Css/scrollbar.css';
@import '../../Css/color.scss';
@import '~@angular/material/theming';

$borderRadius: 5px;

.aircraft-panel {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px calc(100% - 40px - 50px);
    // grid-gap: 5px;
    background: #FFF;

    &-header {
        color: $bleu-airbus;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        align-items: center;
        justify-items: center;
        background: white;
        padding: 0 10px;
        border-bottom: 1px solid #DDD;
        z-index: 10;
        // @include mat-elevation(2);

        .logo {
            .img-logo {
                height: 30px;
            }
        }

        .text {
        }

        .icon-side {
        }
    }

    &-list {
        height: calc(100% - 95px);

        &.filters-open {
            height: calc(100% - 193px);
        }
        
        // &.sorter-open {
        //     height: calc(100% - 78px);
        // }
        
        // &.filters-sorter-open {
        //     height: calc(100% - 170px);
        // }

        .list-manager {
            background: white;
            padding: 10px;
            margin-bottom: 10px;
            @include mat-elevation(2);

            .list-filter {
                padding-bottom: 5px;
                border-bottom: 1px solid #DDD;
                margin-bottom: 5px;

                .filter-button {
                    align-self: center;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .filter-list {
                    margin-left: 12px;
                    padding-left: 14px;
                    border-left: 1px solid #CCC;
                    border-left-style: dashed;
                    display: flex;
                    flex-direction: column;

                    .filter- {

                        &state {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 50px;
                        }

                        &online {
                        }

                        &woinprogress {
                        }

                    }
                }
            }

            .list-sorter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        .aircraft-list {
            overflow: auto;
            margin-top: 10px;
            height: calc(100% - 15px);
            padding-right: 5px;
            margin: 0 5px 0 10px;
            
            
            .aircraft-sorted {
                overflow: hidden;
                // border-radius: $borderRadius;
                background: #FDFDFD;
                margin-bottom: 10px;
                
                &:last-child {
                    margin-bottom: 0px;
                }

                &-header {
                    padding: 5px;
                    font-size: 1.4em;
                    background: #EDEDED;
                    color: $bleu-airbus;
                    font-weight: lighter;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .collapse-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                &-list {
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .aircraft-element{
                        padding: 5px 10px;
                        display: grid;
                        grid-template-columns: 30px 1fr 30px 30px;
                        grid-gap: 10px;
                        font-size: 20px;
                        align-items: center;

                        &-state {
                            color: $bleu-airbus;
                            align-self: center;
                            display: flex;
                            align-items: center;
                        }

                        &-name {
                            color: $bleu-airbus;
                            font-weight: lighter;
                        }

                        &-online {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                background: $vert-online;
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                            }
                        }

                        &-woInProgress {
                            color: $bleu-airbus;
                            align-self: center;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

            }
        }
    }

    &-search-bar{
        box-shadow: 0px -3px 1px -2px rgba(0, 0, 0, 0.2), 0px -2px 2px 0px rgba(0, 0, 0, 0.14), 0px -1px 5px 0px rgba(0, 0, 0, 0.12);
        padding: 5px;
        height: 40px;
        background: white;
        display: grid;
        width: calc(100% - 10px);
        grid-template-columns: 30px calc(100% - 130px) 80px;
        grid-gap: 5px;
        z-index: 10;

        .search-prefix {
            color: #555;
            place-self: center;
        }

        .search-input {
            height: 40px;
            font-size: 15px;
            width: 100%;
            border: none;
            outline: none;
            padding: 0;
        }

        .search-suffix {
            color: #555;
            place-self: center;
        }

    }

}