
<mat-tab-group  class="wo-panel">
  <mat-tab label="Work Order">
    <!--<div class="aircraft-panel-list" [ngClass]="{'filters-open': filterOpen}">
      <div class="list-manager">
        <div class="list-filter">
          <div class="filter-button" (click)="switchFilterOpen()">
            <i class="material-icons" *ngIf="!filterOpen">
              expand_more
            </i>
            <i class="material-icons" *ngIf="filterOpen">
              expand_less
            </i>
            Filters : {{ nbFilter }}
          </div>
          <div class="filter-list" *ngIf="filterOpen">
            <div class="filter-state">
            <span>
              State :
            </span>
              <mat-form-field>
                <mat-select [(value)]="filterList.State">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="Ready For Maintenance">Ready for Maintenance</mat-option>
                  <mat-option value="Cruise">Cruise</mat-option>
                  <mat-option value="Parking">Parking</mat-option>
                  <mat-option value="Arrival">Arrival</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-checkbox class="filter-online" [(ngModel)]="filterList.Online">
              Online
            </mat-checkbox>
            <mat-checkbox class="filter-woinprogress" [(ngModel)]="filterList.WOInProgress">
              WO in Progress
            </mat-checkbox>
          </div>
        </div>
        <div class="list-sorter">
          <span>
            Sort by :
          </span>
          <mat-form-field>
            <mat-select [(value)]="sorter" (selectionChange)="sorterChange($event)">
              <mat-option value="Family">Family</mat-option>
              <mat-option value="WorkOrder">Work Order</mat-option>
              <mat-option value="State">State</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="aircraft-list">
        <div class="aircraft-sorted" *ngFor="let aircraftSorted of aircraftListSorted">
          <div class="aircraft-sorted-header">
            <div class="onglet">
              {{ aircraftSorted.sortedName }}
            </div>
          </div>
          <div class="aircraft-sorted-list">
            <div class="aircraft-element" *ngFor="let aircraftElement of aircraftSorted.aircraftList | searchFilterPipe:searchInputValue | filtersPipe:filterList">
              <div class="aircraft-element-state">
                <i class="material-icons" *ngIf="isAircraftParking(aircraftElement)">
                  flight_takeoff
                </i>
                <i class="material-icons" *ngIf="isAircraftArrival(aircraftElement)">
                  flight_land
                </i>
                <i class="material-icons" *ngIf="isAircraftCruise(aircraftElement)">
                  flight
                </i>
                <i class="material-icons" *ngIf="isAircraftReadyForMaintenance(aircraftElement)">
                  build
                </i>
              </div>
              <div class="aircraft-element-name">
                {{ aircraftElement.name }}
              </div>
              <div class="aircraft-element-online">
                <i *ngIf="aircraftElement.online"></i>
              </div>
              <div class="aircraft-element-woInProgress">
                <i class="material-icons" *ngIf="isAircraftWoInProgress(aircraftElement)">
                  sync
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aircraft-panel-search-bar">
      <mat-icon class="search-prefix">search</mat-icon>
      <input class="search-input" type="tel" placeholder="Search" [(ngModel)]="searchInputValue">
      <div class="search-suffix">
        <span>eg: LJKB</span>
      </div>
    </div>
    -->
    <mat-list *ngFor="let n of workorders" role="list">
      <mat-list-item>
        <app-workorder-card [WorkOrders]="n" class="wo-card"></app-workorder-card>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="History">
    History
  </mat-tab>
</mat-tab-group>
