.header {
    padding: 5px 20px;
    height: calc(100% - 11px);
    border-bottom: 1px solid #EFEFEF;
    background: #00265A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-airbus {

    height: 100%;
    
    img{
        height: 100%;
    }
}

.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &-img {
        height: 100%;
        border-radius: 50%;
    }

    &-name {
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        margin-left: 10px;
        color: #FFF;
    }
}