/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*set tab width 100%*/
.wo-panel .mat-tab-header .mat-tab-label {
  width: 50%;
  min-width: 100px;
}
/*set side bar height 100%*/
 .mat-tab-group {
  height: 100%;
}
.wo-panel .mat-tab-body{
  display: unset !important;
 }
.wo-panel .mat-tab-body-wrapper {
  height: 100%;
}
.mat-drawer-inner-container{
  height: 100%;
}


/*WO Cards */

.wo-panel .mat-list-base .mat-list-item {

}

.wo-card{
  padding: 5px;
}
.wo-card .mat-card:hover{
  cursor: pointer;
  background:rgba(0,0,0,.04);
}

.wo-card .mat-card .last-child {
  margin-bottom: 0;
}

.wo-panel .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 100% !important;
}

.wo-panel .mat-list-base .mat-list-item .mat-list-item-content{
  padding: 0;
}

.wo-card-right{
  width: 50%;
  display: inline-block;

}

.wo-card-left{
  width: 50%;
  display: inline-block;
  float: left;
}

.wo-card-right span{
  position: relative;
  float: right;
  display: table;
}
.wo-card-right span p{
  display: table-cell;
  vertical-align: middle;
}
.wo-card-right span .mat-icon{
  display: table-cell;
  vertical-align: middle;
}
.mat-card-title {
  margin-bottom: 0 !important;
}
.mat-card-subtitle {
  margin-bottom: 4px !important;
}


